## Downloads the dataset from github

In [1]:
!wget https://github.com/HamoyeHQ/HDSC-Introduction-to-Python-for-machine-learning/files/7768140/FoodBalanceSheets_E_Africa_NOFLAG.csv

--2024-04-07 16:24:55--  https://github.com/HamoyeHQ/HDSC-Introduction-to-Python-for-machine-learning/files/7768140/FoodBalanceSheets_E_Africa_NOFLAG.csv
Resolving github.com (github.com)... 140.82.114.4
Connecting to github.com (github.com)|140.82.114.4|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://objects.githubusercontent.com/github-production-repository-file-5c1aeb/441122776/7768140?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAVCODYLSA53PQK4ZA%2F20240407%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20240407T162455Z&X-Amz-Expires=300&X-Amz-Signature=eeafec408d17f8958c5fc2897ccd9745a2a6ff62849cea374095afaa864181ee&X-Amz-SignedHeaders=host&actor_id=0&key_id=0&repo_id=441122776&response-content-disposition=attachment%3Bfilename%3DFoodBalanceSheets_E_Africa_NOFLAG.csv&response-content-type=application%2Fvnd.ms-excel [following]
--2024-04-07 16:24:55--  https://objects.githubusercontent.com/github-production-repository-file-5c1aeb/441122776/7768140?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAVCODYLSA53PQK4ZA%2F20240407%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20240407T162455Z&X-Amz-Expires=300&X-Amz-Signature=eeafec408d17f8958c5fc2897ccd9745a2a6ff62849cea374095afaa864181ee&X-Amz-SignedHeaders=host&actor_id=0&key_id=0&repo_id=441122776&response-content-disposition=attachment%3Bfilename%3DFoodBalanceSheets_E_Africa_NOFLAG.csv&response-content-type=application%2Fvnd.ms-excel
Resolving objects.githubusercontent.com (objects.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to objects.githubusercontent.com (objects.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 8603007 (8.2M) [application/vnd.ms-excel]
Saving to: ‘FoodBalanceSheets_E_Africa_NOFLAG.csv.1’

FoodBalanceSheets_E 100%[===================>]   8.20M  --.-KB/s    in 0.05s

2024-04-07 16:24:55 (171 MB/s) - ‘FoodBalanceSheets_E_Africa_NOFLAG.csv.1’ saved [8603007/8603007]

# Hamoye ID: 189860a18b41f000

In [2]:
# Import necessary libraries
import pandas as pd
import numpy as np

In [3]:
# Load Dataset
df_food = pd.read_csv('/content/FoodBalanceSheets_E_Africa_NOFLAG.csv', encoding='latin-1')

In [4]:
df_food.head()

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
0,4,Algeria,2501,Population,511,Total Population - Both sexes,1000 persons,38924.00,39728.00,40551.00,41389.00,42228.00
1,4,Algeria,2501,Population,5301,Domestic supply quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
2,4,Algeria,2901,Grand Total,664,Food supply (kcal/capita/day),kcal/capita/day,3377.00,3379.00,3372.00,3341.00,3322.00
3,4,Algeria,2901,Grand Total,674,Protein supply quantity (g/capita/day),g/capita/day,94.90,94.35,94.72,92.82,91.83
4,4,Algeria,2901,Grand Total,684,Fat supply quantity (g/capita/day),g/capita/day,80.06,79.36,77.40,80.19,77.28

# SOLUTIONS

## SOLUTION:
- Select columns ‘Y2017’ and ‘Area’, Perform a groupby operation on ‘Area’.  Which of these Areas had the highest sum in 2017?

In [5]:
# Select Columns  ‘Y2017’ and ‘Area’
df_new = df_food[['Y2017', 'Area']]

# Group by 'Area' and sum the values in 'Y2017' column
area_sum = df_new.groupby('Area')['Y2017'].sum()

# Get the Area with the highest sum
highest_sum_area = area_sum.idxmax()

# Print the Area with the highest sum
print("Area with the highest sum in 2017:", highest_sum_area)

Area with the highest sum in 2017: Nigeria

## SOLUTION:
- Select columns ‘Y2017’ and ‘Area’, Perform a groupby operation on ‘Area’.  Which of these Areas had the 7th lowest sum in 2017?

In [6]:
# Get area with the 7th lowest sum
seventh_lowest_sum_area = area_sum.nsmallest(7).index[-1]

# Print the Area with the 7th lowest sum
print("Area with the 7th lowest sum in 2017:", seventh_lowest_sum_area)

Area with the 7th lowest sum in 2017: Guinea-Bissau

In [7]:
### IGNORE !!!!!!
# Get the Area with the lowest sum
lowest_sum_area = area_sum.idxmin()

# Print the Area with the highest sum
print("Area with the lowest sum in 2017:", lowest_sum_area)

Area with the lowest sum in 2017: Ethiopia PDR

## SOLUTION:
- Answer the following questions based on the African food production dataset provided by the FAO website already provided

What is the total sum of Wine produced in 2015 and 2018 respectively?

Hint:

Perform a groupby sum aggregation on ‘Item’

In [8]:
# Group by 'Item' and sum the values in 'Y2015' and 'Y2018' columns
item_sum = df_food.groupby('Item')[['Y2015', 'Y2018']].sum()

# Get the sum of Wine produced in 2015 and 2018
wine_sum_2015 = item_sum.loc['Wine', 'Y2015']
wine_sum_2018 = item_sum.loc['Wine', 'Y2018']

# Print the results
print("Total sum of Wine produced in 2015:", wine_sum_2015)
print("Total sum of Wine produced in 2018:", wine_sum_2018)

Total sum of Wine produced in 2015: 4251.81
Total sum of Wine produced in 2018: 4039.32

## SOLUTION:
- What is the total Protein supply quantity in Madagascar in 2015?

In [9]:
# Create a mask for only Protein supply quantity
mask = df_food['Element'] == 'Protein supply quantity (g/capita/day)'
# Subset mask into dataframe
df_madag = df_food[mask]
# Create a mask for only madagascar
mask_2 = df_madag['Area'] == 'Madagascar'
# Subset mask_2 into dataframe
df_madag = df_madag[mask_2]
# Get Y2015 Column
yr_2015 = df_madag['Y2015']
# Get total sum
tt_sum = np.sum(yr_2015)
# Print total sum
print('Total Protein supply quantity in Madagascar in 2015: {:.2f}'.format(tt_sum))

Total Protein supply quantity in Madagascar in 2015: 173.05

## SOLUTION:
-
Perform a groupby operation on ‘Element’.  What is the total number of the sum of Processing in 2017?

In [10]:
# Group by Element
element_grp = df_food.groupby('Element')['Y2017'].sum()

# Get Sum of Processing
sum_processing = element_grp.loc['Processing']

# Print sum of Processing in 2017
print('Total number of the sum of Processing in 2017: {}'.format(sum_processing))

Total number of the sum of Processing in 2017: 292836.0

## SOLUTION:
-
What is the mean and standard deviation across the whole dataset for the year 2017 to 2 decimal places?

In [11]:
# Using agg to get mean and standard deviation
mean_std = df_food['Y2017'].agg({'2017_mean': 'mean', '2017_std': 'std'})
# Print results
print('The mean and standard deviation for year 2017 is {:.2f} and {:.2f} respectively'.format(mean_std.loc['2017_mean'],
                                                                                               mean_std.loc['2017_std']))

The mean and standard deviation for year 2017 is 140.92 and 1671.86 respectively

## SOLUTION:
- Which year had the least correlation with ‘Element Code’?

In [12]:
# Get the Year with least correlation with Element Code
yr = df_food[['Element Code', 'Y2016', 'Y2017', 'Y2014', 'Y2015', 'Y2018']].corr().loc['Element Code'].idxmin()
# Print results
print('The year with least correlation with Element Code: {}'.format(yr))

The year with least correlation with Element Code: Y2016

## SOLUTION:
- What is the total number and percentage of missing data in 2014 to 3 decimal places?

In [13]:
# Get missing values for year 2014
missing_values = df_food['Y2014'].isna().sum()
# Get total entries
total_entries = len(df_food)
# Get percentage of missing data
percent_missing = missing_values / total_entries * 100
# Print results
print(f'The total number and percentage of missing data in 2014 is {missing_values} and {percent_missing:.3f} respectively')

The total number and percentage of missing data in 2014 is 1589 and 2.607 respectively

## SOLUTION:
-
Perform a groupby operation on ‘Element’.  What year has the highest sum of Stock Variation?

In [14]:
# Gets year with highest sum of Stock Variation
yr_highest_stock = df_food.groupby('Element')[['Y2014', 'Y2015', 'Y2016', 'Y2017', 'Y2018']].sum().loc['Stock Variation'].idxmax()
# Print results
print('The year with highest sum of Stock Variation is : {}'.format(yr_highest_stock))

The year with highest sum of Stock Variation is : Y2014

## SOLUTION:
-
What is the total number of unique countries in the dataset?

In [15]:
# Get unique countries
unique_countries = df_food['Area'].nunique()
# Print results
print('The total number of Unique countries are : {}'.format(unique_countries))

The total number of Unique countries are : 49